/* Header */
.header {
    height: rem(60px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the navbar is above other content */
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9)); /* Ensure background is solid */
}

/* Links */
.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.link:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

@media (max-width: $mantine-breakpoint-sm) {
    .link {
        height: rem(42px);
        width: 100%;
    }
}

/* Sublinks */
.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    text-decoration: none;
}

.subLink:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

/* Dropdown Links */
.dropdown-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.dropdown-link:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

@media (max-width: $mantine-breakpoint-sm) {
    .dropdown-link {
        height: rem(42px);
        width: 100%;
    }
}

/* Dropdown Sublinks */
/* Dropdown Sublinks */
.dropdown-subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    text-decoration: none !important;
    color: inherit; /* Inherit color from parent */
}

/* Ensure that the color is red for Liked posts */
.menu-item-red {
    color: red !important; /* Override any other styles */
}

/* Add this rule to remove text decoration for active or visited links */
.dropdown-subLink:active,
.dropdown-subLink:visited {
    text-decoration: none !important;
}


.dropdown-subLink:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

/* Drawer */
.drawer {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    border-radius: var(--mantine-radius-md);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: var(--mantine-spacing-lg);
}

.mainSection {
    padding-bottom: var(--mantine-spacing-sm);
}

.user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;
}

.user:hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

@media (max-width: $mantine-breakpoint-xs) {
    .user {
        display: none;
    }
}

.userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabsList {
    &::before {
        display: none;
    }
}

.tab {
    font-weight: 500;
    height: rem(38);
    background-color: transparent;
    position: relative;
    bottom: -1px;
}

.tab::before,
.tab::after {
    background-color: light-dark(
            var(--mantine-color-gray-2),
            var(--mantine-color-dark-7)
    ) !important;
}

.tab:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.tab[data-active] {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
    border-bottom-color: transparent;
}
