/* navbar.module.css */

/* Header */
.header {
    height: rem(60px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/* Links */
.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);

    @media (max-width: $mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
    }

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

/* Sublinks */
.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    text-decoration: none;


    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
}

.dropdown-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);


    @media (max-width: $mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
    }
}

/* Sublinks */
.dropdown-subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    text-decoration: none; /* Removed text decoration */
    color: inherit; /* Inherit color from parent */
}



/* Drawer */
.drawer {
    /* Add your styling for the Drawer component here */
    /* Example styles: */
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    border-radius: var(--mantine-radius-md);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: var(--mantine-spacing-lg);
}

.mainSection {
    padding-bottom: var(--mantine-spacing-sm);
}

.user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    }

    @media (max-width: $mantine-breakpoint-xs) {
        display: none;
    }
}

.userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabsList {
    &::before {
        display: none;
    }
}

.tab {
    font-weight: 500;
    height: rem(38);
    background-color: transparent;
    position: relative;
    bottom: -1px;

    &::before,
    &::after {
        background-color: light-dark(
                var(--mantine-color-gray-2),
                var(--mantine-color-dark-7)
        ) !important;
    }

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    }

    &[data-active] {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
        border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
        border-bottom-color: transparent;
    }
}