.title {
    text-align: center;
}

.error {
    color: red;
}

.passwordInput {
    border: none; /* Remove border */
}

.blueText {
    color: #4dabf7;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}
