.home-myContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: relative;
}

.home-posts-container {
    width: 70%;
    padding-right: 10px;
    position: relative;
}

.home-post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagination {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    width: 50px; /* Set width and height to make them squares */
    height: 50px;
    border: 1px solid #ccc; /* Add border */
    font-size: 14px; /* Adjust font size */
    margin-right: 5px;
    cursor: pointer;
    align-content: center;
}

.pagination button.active {
    background-color: #007bff; /* Change background color of active button */
    color: white; /* Change text color of active button */
}