{{define "subject"}}Welcome to TeamFinder!{{end}}
{{define "plainBody"}}
Hi,

Thanks for signing up for a TeamFinder account. We're excited to have you on board!
For future reference, your user ID number is {{.userID}}.

Please activate your account by clicking the following link:
{{.activationLink}}

Please note that this is a one-time use link and it will expire in 3 days.

Thanks,
The TeamFinder Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .button {
            background-color: #007bff; /* Blue color */
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a TeamFinder account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.userID}}.</p>
    <p>To activate your account, please click the button below:</p>
    <p>
        <a href="{{.activationLink}}" class="button">Activate Account</a>
    </p>
    <p>Please note that this is a one-time use link and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The TeamFinder Team</p>
</body>
</html>
{{end}}
