{{define "subject"}}TeamFinder Account Deleted{{end}}
{{define "plainBody"}}
Hi,
Your account {{.email}} was deleted.
Good bye,
The "TeamFinder" Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>Your account {{.email}} was deleted.</p>
<p>Good bye,</p>
<p>The "TeamFinder" Team</p>
</body>
</html>
{{end}}
